<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>

<h2>Login</h2>
<form class="form">
    <label>
        <input required="" placeholder="" type="" class="input">
        <span>Username</span>
    </label>

    <label>
        <input required="" placeholder="" type="password" class="input">
        <span>Password</span>
    </label>

    <button class="submit">Submit</button>
    <p class="signin">Don't have an acount ? <a href="#">Sign</a> </p>
</form>

</body>
</html>