<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/signup.css}">
</head>

<body class="signup-body">
<div class="signup-form">
    <form class="form" th:action="@{/signup}" th:object="${userDTO}" method="post">
        <p class="title">WorkTrack <br> Create Account </p>
        <p class="message">Start managing your projects today! </p>
        <div class="flex">
            <label>
                <input th:field="*{firstName}" name="firstName" required="" type="text" class="input">
                <span>Firstname</span>
            </label>

            <label>
                <input th:field="*{lastName}" name="lastName" required="" type="text" class="input">
                <span>Lastname</span>
            </label>
        </div>

        <label>
            <input th:field="*{email}" name="email" required="" type="email" class="input">
            <span>Email</span>
        </label>

        <label>
            <input th:field="*{password}" name="password" required="" type="password" class="input">
            <span>Password</span>
        </label>

        <label>
            <input required="" placeholder="" type="password" class="input">
            <span>Confirm password</span>
        </label>

        <button type="submit" class="submit">Submit</button>
        <p class="signin">Already have an acount? <a href="/login">Log In</a> </p>
    </form>
</div>

</body>
</html>